@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {


    /* COLORS */
    --black-to-white: #222831;
    --black-to-blue: #222831;
    --blue-to-black: #0b9dd6;
    --blue-to-white: #0b9dd6;
    --white-to-black: #E8F6EF;
    --white-to-blue: #E8F6EF;
    --black-to-grey: #222831;
    --grey: #f8f9fa;
    /* FONT-STYLE */
    --font-style: 'Poppins', sans-serif;
    /* FONT-SIZE */
    --normal-font-size: 1em;
    --medium-font-size: 1.6em;
    --big-font-size: 2em;
    --small-font-size: 0.5em;


    /* FONT WEIGHT */
    --font-semibold: 600;
    --font-medium: 400;
}


* {
    font-family: var(--font-style);
    font-weight: var(--font-semibold);
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--white-to-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--black-to-blue);
}


#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 5%;
}

.nav-link {
    text-decoration: none;
    color: var(--white-to-black);
    font-family: var(--font-style);
    font-size: 1.2em;
    font-weight: var(--font-semibold);
    position: relative;
    display: inline-flex;
    padding: 5px;
    margin-top: 0px;
    z-index: 1;
    overflow: hidden;
}

header {
    height: 60px;
}

.company-describe {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    z-index: 1;
    left: 15%;
    top: 15%;
}

span {
    color: var(--blue-to-black);
}

.why-us,
.out-mission {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
}

.our-remark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.out-mission p {
    margin-top: 50px;
    margin-inline: 20px;
    border-radius: 50px;
    background-color: #0b9dd6;
    color: white;
    padding: 50px 20px;
    font-size: 1.2em;
    max-width: 600px;
}

.why-us i {
    color: var(--blue-to-black);
    font-size: 2.5em;
    margin-top: 30px;

}

.why-us-head {
    font-size: var(--big-font-size);
    margin-inline: 10px;
    padding-block: 5px;
    border-block: 3px solid var(--blue-to-white);
    max-width: 450px;
}

.why h3 {
    font-size: var(--big-font-size);
    margin-block: 30px;
}

.why {
    max-width: 400px;
}


.describe-c,
.describe-h {
    text-align: center;
    font-size: 1.1em;
    color: white;
    max-width: 350px;
}

.describe-h {
    font-size: 1.88em;
    margin-bottom: 20px;

}


.btn-contact{
    color: aliceblue; 
    background-color:#0b9dd6;
     border:none;
    border-radius: 5px;
    height: 45px;
    padding-inline: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.btn-contact:active{
    color: #ffffff;
    background-color: #222831;
    transform: scale(90%);
}


.offcanvas-body ul li {
    margin-block: 10px;
}

.nav-link:before {
    position: absolute;
    content: "";
    width: 110%;
    height: 3px;
    bottom: 5px;
    background-color: var(--blue-to-black);
    transform: translateX(-150%);
    z-index: -1;
    transition: all 1s;
    transform-origin: top;
}

.nav-link:hover:before {
    transform: translateX(-15%);
    transition: all 1s;
}

.carousel-item img {
    min-height: 650px;
}

.dropdown-toggle {
    display: flex;
    justify-content: row;
    align-items: center;
}


.logo-img {
    width: 150px;
    height: 80px;
}

.main-entry {
    margin-top: 45px;
    height: 650px;
}


.carousel-item {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 650px;
}


.carousel-item::before,
.carousel-item::after {
    content: " ";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2228318e;
}



.card {
    width: 80%;
}

.services {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
}

.head-services {
    font-size: var(--big-font-size);
    margin-bottom: 20px;
    width: 95%;
    padding-block: 5px;
    border-block: 3px solid var(--blue-to-white);
    max-width: 500px;
}

.card {
    margin-top: 30px;
    background-color: var(--grey);
}

.bottom-site {
    text-align: center;
    justify-content: center;
    padding: 15px;
    font-family: var(--font-style);
    font-size: 1em;
    background-color: var(--black-to-grey);
    color: #E8F6EF;
}

.bottom-site p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside {
    width: 100%;

}

.all-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-content {
    text-align: center;
    font-size: var(--normal-font-size);
    width: 80%;
    margin-top: 20px;
    max-width: 450px;
}

.contact-us h3 {
    font-size: var(--big-font-size);
    text-align: center;
    padding-block: 5px;
    width: 80%;
    border-block: 3px solid var(--blue-to-white);
    max-width: 450px;
}




.contact {
    padding-block: 50px;
}

.method {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
}

.method i {
    color: #0b9dd6;
    font-size: var(--big-font-size);
    margin-top: 10px;
    margin-bottom: 20px;
}

.method-container h4 {
    font-size: 1.4em;
    font-weight: var(--font-semibold);
}

.method-container i {
    font-size: 1em;
    margin-right: 7px;
}



p {
    margin: 5px;
}



.card-text {
    color: #222831;
}

.card-img-top {
    max-height: 200px;
    max-width: 400;

}


.btn {
    margin: 10px;
}

.btn-custom {
    background-color: #0b9dd6;
    color: #ffffff;
    transition: background-color 0.3s;
}

.btn-custom:hover:active {
    background-color: var(--black-to-blue);
    color: white;
    transform: scale(90%);
}

.btn-custom:hover {
    background-color: #0b9dd6;
    color: #ffffff;
}

.service-card {
    margin-left: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.service-card img {
    border-radius: 10px 10px 0px 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-body h3 {
    color: #0b9dd6;
    font-size: var(--big-font-size);
    margin-top: 20px;
}

.list-service-card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    list-style: none;
    background-color: #0b9dd6;
    width: 100%;
    color: #ffffff;
    border-radius: 5px;
}



ul {
    margin-left: 0px;
    padding: 0px;
}

.list-service-card li {
    margin-block: 10px;
}

.footer {
    background-color: var(--black-to-grey);
    padding: 60px 0;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-section {
    flex: 0 0 33.33%;
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    color: #fff;
    font-size: 14px;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #0b9dd6;
}

.footer-text {
    font-size: 14px;
}



.facility-container ,.property-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.facility-container img , .property-container img {
    width: 300px;
    height: 200px;
    margin: 30px;
}

.facility-container p , .property-container p {
    max-width: 700px;
}

.facility-main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.facility-main h3 {
    padding: 5px 30px 5px 30px;
    border-block: 2px solid #0b9dd6;
    margin-bottom: 50px;
}

.list-of-property li{
  list-style-type:disc;
  text-align: left;
}

@media screen and (min-width:768px) {
    .footer-sections {
        display: flex;
        flex-direction: row;

    }

    .facility-main h3 {
        padding: 5px 30px 5px 30px;
        border-block: 2px solid #0b9dd6;
        margin-bottom: 50px;
        font-size: var(--big-font-size);
    }

   

  



    .footer-section {
        max-width: 400px;
    }

    .describe-h,
    .describe-c {
        font-size: 3em;
        min-width: 500px;
    }

    .describe-c {
        font-size: 1.6em;
    }

    .our-remark {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 90%;
    }

    .why {
        margin-left: 20px;
        max-width: 300px;
        max-height: 270px;
    }

    .why-us {
        height: 550px;
    }

    .all-services {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .services {
        width: 80%;
    }

    .method i {
        font-size: 3em;
    }

    .service-card {
        min-width: 35%;
        min-height: 700px;
    }

    .contact-content {
        font-size: 1.4em;
    }

    .contact-us h3 {
        font-size: 2.4em;
    }

    .method-container h4 {
        font-size: 2em;
    }

    .method-container p {
        font-size: 1.2em;
    }

    .card-body {
        width: 385px;
        height: 330px;
    }

    .contact-methods {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-top: 50px;
    }

    .contact-content {
        margin-top: 50px
    }
}

@media screen and (min-width:1200px) {

    .facility-container img , .property-container img {
        width: 400px;
        height: 300px;
        margin: 20px;
    }

    .facility-container {
        display: flex;
        flex-direction: row;
        width: 80%;
        /* background-color: red; */
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cont2{
        flex-direction: row-reverse;
    }
    #nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-inline: 10%;
    }

    .nav-link {
        margin-left: 15px;
        font-size: 1.3em;
    }

    .nav-bar {
        padding: 0px;
    }


    .all-services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .service-card {
        min-width: 300px;
        max-width: 400px;
        min-height: 750px;
        max-height: 850px;
    }

    .service-card-title {
        color: red;
    }



}